:host {
  display: block;
  background-color: var(--surface-ground);
}

section {
  max-width: 1200px;
  margin: 0 auto;
}



section.poppins-regular .col-12,
section.poppins-regular .col-6,
section.poppins-regular .col-3 {
  display: flex;
}

section.poppins-regular app-card-service,
section.poppins-regular > div > div {
  flex: 1;
  min-height: 20rem; /* 👈 ajusta según tu diseño */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid rgba(0,0,0,0.08);
  border-top-color: #2563eb;
  border-radius: 50%;
  animation: spin 800ms linear infinite;
}
@keyframes spin { to { transform: rotate(360deg); } }
